*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
} 
.iconlink{
    border-radius: 50%;
}
ul{
    list-style-type: none;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000000DE;
    font-size: 13px;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.header ul{
    display: flex;
    align-items: center;
}

.header ul img{
    border-radius: 50%;
}

img:hover{
background-color: #70757A;
}

.header ul li{
    margin: 0 10px;
    margin-top: 20px;
}

/*Search*/

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;)
    cursor: pointer;
}

.logo .search-container form{
    position: relative;
}

.logo .search-container form label.search{
    position: absolute;
    left: 10px;
    top: 12px;
}

.logo .search-container form label.microphone{
    position: absolute;
    right: 12px;
    top: 12px;
}


.logo .search-container form input{
    padding:  12px;
    width: 500px;
    position: relative;
    border: 1px solid #dadce0;
    border-radius: 35px;
}

/*Footer*/

.footer{
    position: relative;
    top:352px;
    left: 0;
    padding: 10px 0px;
    background-color: #dadce0;
    font-size: 13px;

}

footer h3{
    color:#70757A;
    font-weight: 400;
    padding: 0 30px 10px;
    border-bottom: 1px solid rgb(214, 209, 209);
}

.footer .footer-a{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.footer .footer-a ul{
    display: flex;
    padding: 10px 0;
}

.footer .footer-a ul li{
    margin: 0 10px;
    font-size: 0 15px;
    color: #70757A;
}