*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 
/*
.iconlink{
    border-radius: 50%;
}*/

ul{
    list-style-type: none;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #000000DE;
    font-size: 13px;
}

/*Body*/

body{
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

/*Header*/

.header{
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
}

.header ul{
    display: flex;
    align-items:center;
}

.header ul img{
    border-radius: 50%;
}

.header ul li{
    margin: 0 12px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

/*Images*/

.appimg{
max-height: 32px;
}

.appimg:hover{
    background-color: #dadce0;
    border-radius: 50%;
} 

.accimg{
max-width: 75%;
max-height: 75%;
}

.accimg:hover{
    background-color: #dadce0;
    border-radius: 50%
}
/*Search-Logo*/

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    cursor: pointer;

}
/*
.google-image{
    width: 272px;
    height: 92px;
}
*/
.logo .search-container{
    margin-top: 20px;
}

.logo .search-container form{
    position: relative;
}

.logo .search-container form label.search{
    position: absolute;
    left: 20px;
    top: 14px;
}

.logo .search-container form label.search i{
    color:#97989b;
}

.logo .search-container form label.microphone{
    position: absolute;
    right: 20px;
    top: 14px;
    cursor: pointer;
}

.logo .search-container form input{
    font-size: 16px;
    padding:  10px; 
    width: 300px;
    border: 1px solid #dadce0;
    border-radius: 30px;
    outline: none;
}

/*Buttons*/

.logo .buttons {
    margin-top: 30px;
}

.logo .buttons button{
    background-color:#F8F9FA;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #e8e9eb;
    cursor: pointer;
    margin: 0 5px;
    font-size: 15px;
    font-family: sans-serif;
}

.logo .buttons button:hover{
    cursor:pointer;
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

/*Language*/
.language{
    display: flex;
    justify-content: center;
}

/*Footer*/

.footer{
    position:absolute;
    width:100%;
    bottom: 0;
    left: 0;
    padding: 10px 30px;
    background-color: #f2f2f2;
    font-size: 13px;
}

footer h3{
    color:#70757A;
    font-weight: 400;
    padding: 0 30px 10px;
    border-bottom: 1px solid #dadce0;
}

.footer .footer-a{
    display: flex;
    flex-direction: column;
   /* align-items: flex-end*/;
    justify-content: center;
    font-size: 15px;
}


.footer .footer-a ul{
    display: flex;
    padding: 10px 0;
}

.footer .footer-a ul li{
    margin: 0 10px;
    font-size: 15px;
    color: #70757A;
}

@media (min-width: 500px) {
    .logo .search-container form input {
      width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    .logo .search-container form input {
      width: 650px;
    }
  }
  
  @media (min-width: 768px) {
    .logo img {
      width: 110%;
    }
  
    .logo .search-container form input {
      width: 650px;
    }
  
    .footer .footer-a {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  
  @media (min-width: 1280px) {
    .footer .footer-a {
      justify-content: space-between;
      padding: 0 30px;
    }
  }